<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <label for="">Email</label>
        <input type="email" formControlName="email">
    </div>
    <div *ngIf="loginForm.get('email').errors && loginForm.get('email').dirty">
       <p class="text-danger" *ngIf="loginForm.get('email').hasError('required')">Este campo es obligatorio</p>
       <p class="text-warning" *ngIf="loginForm.get('email').hasError('email')">El formato es invalido</p>
    </div>
    <div>
        <label for="">Contraseña</label>
        <input type="password" formControlName="password" >
        <p class="text-danger" *ngIf = "loginForm.get('password').hasError('required') && loginForm.get('password').dirty">Este campo es obligatorio</p>
    </div>
    <input type="submit" value="Ingresar" [disabled]="loginForm.invalid">
</form>
