<div class="container">
    <h1 class="m-5">Bienvenido...</h1>
    <hr>
    <div class="row justify-content-md-center">
        <div *ngFor="let post of postsList" class="card m-2" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Publicado por {{post.user?.username}}</h6>
            <p class="card-text">{{post.body}}</p>
            <div class="d-flex justify-content-end">
                <a *ngIf="!post.comments" class="card-link text-muted" (click)="getPostComments(post)">Ver Comentarios</a>
                <a *ngIf="post.comments" class="card-link text-muted" (click)="hideComments(post)">Ocultar Comentarios</a>
            </div>
            <div *ngFor="let comment of post.comments">
              <div class="card border-secondary m-2">
                <div class="card-body">
                  <p class="card-title">{{comment.name}}</p>
                  <p class="card-text">{{comment.body}}</p>
                  <div class="d-flex justify-content-end">
                    <p class="card-link text-muted">{{comment.email}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
