<form [formGroup]="registroForm" (ngSubmit)="register()">
    <div>
        <label for="">Nombre</label>
        <input type="text" formControlName="nombre">
        <p class="text-danger" *ngIf = "registroForm.get('nombre').hasError('required') && registroForm.get('nombre').dirty">Este campo es obligatorio</p>
    </div>
    <div>
        <label for="">Apellido</label>
        <input type="text" formControlName="apellido">
        <p class="text-danger" *ngIf = "registroForm.get('apellido').hasError('required') && registroForm.get('apellido').dirty">Este campo es obligatorio</p>
    </div>
    <div>
        <label for="">Telefono</label>
        <input type="text" formControlName="telefono">
        <p class="text-danger" *ngIf = "registroForm.get('telefono').hasError('pattern') && registroForm.get('telefono').dirty">Numero de Telefono invalido</p>
    </div>
    <div>
        <label for="">Email</label>
        <input type="email" formControlName="email">
    </div>
    <div *ngIf="registroForm.get('email').errors && registroForm.get('email').dirty">
       <p class="text-danger" *ngIf="registroForm.get('email').hasError('required')">El campo es obligatorio</p>
       <p class="text-warning" *ngIf="registroForm.get('email').hasError('email')">El formato es invalido</p>
    </div>
    <div>
        <label for="">Contraseña</label>
        <input type="password" formControlName="password" >
    </div>
    <div *ngIf="registroForm.get('password').errors && registroForm.get('password').dirty">
        <p class="text-danger" *ngIf="registroForm.get('password').hasError('required')">El campo es obligatorio</p>
        <p class="text-warning" *ngIf="registroForm.get('password').hasError('minlength') || registroForm.get('password').hasError('maxlength') ">Debe tener entre 6 y 10 caracteres</p>
     </div>
    <input type="submit" value="Registrarme" [disabled]="registroForm.invalid">
</form>
